KINTONE_DOMAIN=your-domain.cybozu.com
APP_ID=3
API_TOKEN=your_gps_api_token_here
KINTONE_API_TOKEN_MICHINOEKI_RIREKI=your_michinoeki_rireki_api_token_here
KINTONE_APP_ID_EXCLUDE=18
KINTONE_API_TOKEN_EXCLUDE=your_exclude_api_token_here
FIELD_LAT=lat
FIELD_LNG=lon
FIELD_DATETIME=送信日時
